@{
    ViewData["Title"] = "404 Page Not Found";
    Layout = "_LayoutErrorPage";
}
<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">
                <div class="text-center">
                    <div class="error mx-auto" data-text="404">404</div>
                    <p class="lead text-gray-800 mb-5">Page Not Found</p>
                    <a onclick="history.back()">&larr; Previous page</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        setInterval(redirect, 5000);
        function redirect() {
            window.history.back();
        }
    </script>
}