@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutSBAdmin2";
}

@*<div class="text-center">
        <h1 class="display-4">Hello</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

@*<h1 class="Judul">Title</h1>
    <h4>Daftar</h4>
    <a href="#">Link</a>

    <div class="satu">ONE</div>
    <div class="dua">TWO</div>
    <div class="tiga">THREE</div>*@
<!--<div class="slideLeft">
    <div class="listMenu">
        <div id="menu1">
            <h4>Mamalia</h4>
        </div>
        <div id="menu2">
            <h4 onclick="baseMenu2()">Invertebrata</h4>
        </div>
    </div>
</div>
<div class="mainBody">
    <h1 id="judul" class="judul">Mamalia</h1>
    <div class="container">
        <section id="a">-->
@*<p class="p1">Paragraf 1</p>
    <a href="#">ini link</a>*@
<!--<p class="p2">Kata mamalia merupakan ciptaan dari Carl Linnaeus. Mamalia berasal dari bahasa latin ‘mamma’ yang memiliki arti puting. Kata ini pertama
            kali dikemukakan pada tahun 1758. Hewan mamalia dikenal dan disebut sebagai hewan menyusui karena mamalia menyusui anak-anaknya.</p>
            <p class="p3">Mamalia memiliki kelenjar susu sebagai sumber makanan. Sebagian besar mamalia berkembang biak dengan cara melahirkan anak-anaknya, namun
            ada beberapa mamalia yang tidak melahirkan, atau bertelur. Mamalia jenis ini disebut dengan monotremata memiliki kelenjar susu, namun tidak memiliki puting.
            Maka dari itu monotremata ini masih digolongkan mamalia.</p>
        </section>
        <section id="b">
            <p class="p2">Berbagai fakta menarik dan petualangan hewan mamalia yang menyenangkan dapat Grameds lakukan melalui buku Ensiklopedia Dunia Mamalia yang ada
            dibawah ini.</p>
            <a href="https://www.gramedia.com/literasi/hewan-mamalia/">Sumber</a>
        </section>
    </div>
</div>-->
<div class="text-center">
    <h1 class="display-4">Exercise</h1>
    <p>Learn about animal class</p>
</div>
<div class="row">
    <div class="col-3 text-center">
        <div id="menu1">
            <h4>Mamalia</h4>
        </div>
        <div id="menu2">
            <h4 onclick="baseMenu2()">Invertebrata</h4>
        </div>
    </div>
    <div class="col-9">
        <h3 id="judul" class="judul text-center">Mamalia</h3>
        <div class="container text-justify">
            <section id="a">
                <p class="p2">
                    Kata mamalia merupakan ciptaan dari Carl Linnaeus. Mamalia berasal dari bahasa latin ‘mamma’ yang memiliki arti puting. Kata ini pertama
                    kali dikemukakan pada tahun 1758. Hewan mamalia dikenal dan disebut sebagai hewan menyusui karena mamalia menyusui anak-anaknya.
                </p>
                <p class="p3">
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
                    Fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.
                </p>
            </section>
            <section id="b">
                <p class="p2">
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
                    Fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.
                    Sem nulla eu ultricies orci praesent id augue nec lorem pretium congue sit amet ac nunc fusce iaculis lorem eu diam hendrerit at mattis purus dignissim vivamus mauris tellus, fringilla.
                    Vel dapibus a, blandit quis erat vivamus elementum aliquam luctus etiam fringilla pretium sem vitae sodales mauris id nulla est praesent laoreet, metus vel auctor aliquam, eros purus vulputate leo.
                    Eget consequat neque quam id tellus duis ultricies tempor tortor, vitae dignissim ligula mattis nec in hac habitasse platea dictumst ut arcu enim, dictum quis ultrices id, sagittis eget nulla.
                    Sed nunc mi, congue ut ultricies ac, varius a eros donec porttitor, libero fermentum fringilla laoreet, eros arcu sodales ante, ut dictum risus lectus vel quam integer ultricies, nunc eget.
                    Elementum euismod, orci enim vestibulum orci, nec suscipit urna odio et tellus suspendisse suscipit orci sit amet sem venenatis nec lobortis sem suscipit nullam nec imperdiet velit mauris eu nisi.
                    A felis imperdiet porta at ac nulla vivamus faucibus felis nec dolor pretium eget pellentesque dolor suscipit maecenas vitae enim arcu, at tincidunt nunc pellentesque eleifend vulputate lacus, vel semper.
                    Sem ornare sit amet proin sem sapien, auctor vel faucibus id, aliquet vitae ipsum etiam auctor ultricies ante, at dapibus urna viverra sed nullam mi arcu, tempor vitae interdum a.
                    Sodales non urna vestibulum dignissim auctor mauris, ac elementum purus fermentum vitae duis placerat laoreet risus, sit amet eleifend tellus lobortis non vivamus iaculis dapibus leo a ornare cras vel.
                    Sem at felis convallis mollis posuere ultrices dolor sed tellus arcu, accumsan a consectetur sit amet, volutpat eget lorem phasellus quis ipsum orci integer sodales tincidunt nibh a elementum ut.
                </p>
                <a href="https://www.gramedia.com/literasi/hewan-mamalia/">Sumber</a>
            </section>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Action</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody class="tabelPoke">
                <tr>
                    <th scope="row"></th>
                    <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#pokeModal"></button></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div class="container text-justify">
            <p class="p3">
                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
                Fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.
            </p>
        </div>
    </div>
</div>

<div class="modal fade" id="pokeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-lg modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detail Poke</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6 text-center">
                            <div class="row">
                                <div class="col" id="imgPoke">
                                    <img src="#" alt="" class="rounded-circle" width="304" height="236" />
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <h2><span class="detailName"></span></h2>
                            <table class="table-hover">
                                <tbody class="tbDetailPoke">
                                    <tr>
                                        <th>Height</th>
                                        <td>:</td>
                                        <td class="detailHeight"></td>
                                    </tr>
                                    <tr>
                                        <th>Weight</th>
                                        <td>:</td>
                                        <td class="detailWeight"></td>
                                    </tr>
                                    <tr>
                                        <th>Abilities</th>
                                        <td>:</td>
                                        <td class="detailAbilities"></td>
                                    </tr>
                                    <tr>
                                        <th>Type</th>
                                        <td>:</td>
                                        <td class="detailType"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row" id="stats">
                                <div class="col-12">
                                    <h6><b>Stats </b>:</h6>
                                </div>
                                <div class="col-6" style="margin-bottom: 5px;">
                                    <table class="table-hover" id="tbStats">
                                        <tbody class="tbDetailStats1">
                                            <tr>
                                                <th></th>
                                                <td>:</td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-6" style="margin-bottom: 5px;">
                                    <table class="table-hover" id="tbStats">
                                        <tbody class="tbDetailStats2">
                                            <tr>
                                                <th></th>
                                                <td>:</td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

